body {
    font-family: Arial;
    margin: 0;
    background-color: #eef2f3;
}

.navbar {
    background-color: green;
    padding: 12px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

input, select {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.btn{
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: darkgreen;
}

.result {
    margin-top: 25px;
    font-size: 18px;
    color: black;
}
